
<div class="contenido">
    <h2>Sucursales</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Provincia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sucursal of this.listadoSucursales; let i = index">
                <td>{{ sucursal.nombre }}</td>
                <td>{{ sucursal.direccion }}</td>
                <td>{{ sucursal.lugar }}</td>
            </tr>
        </tbody>
    </table>
</div>